@import './vendor/highcharts6_1.css';
@import './variables.scss';

@font-face {
    font-family: 'Whitney';
    src: local('Whitney-Book-Bas'),
         local('Whitney Book');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Whitney';
    src: local('Whitney-BookItal-Bas'),
         local('Whitney Book Italic');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Whitney';
    src: local('Whitney-Semibold-Bas'),
         local('Whitney Semibold');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Whitney';
    src: local('Whitney-SemiboldItal-Bas'),
         local('Whitney Semibold Italic');
    font-weight: bold;
    font-style: italic;
}

:root {

    --teal-h: 180;
    --teal-s: 48%;
    --teal-l: 31%;

    --default-color-0: #296ec3; // $pew_blue
    --default-color-1: #333; // $dark_gray
    --default-color-2: #ff7f49; // $comp_orange
    --default-color-3: #5ac7be; // $comp_teal
    --default-color-4: #229dc6; // $comp_blue
    --default-color-5: #d85555; // $comp_red
    --default-color-6: #6d9953; // $comp_green
    --default-color-7: #b0b0b0; // $sec_gray 
    --default-color-8: #e1e1e1; // $sec_light_gray
    --default-color-9: #f0f0f0; // $sec_lightest_gray
    --default-color-10: #ebf4ff; // $sec_light_blue

    // properties above are meant to be changed via js of the chartBuikder tool
    // those below are not to be overwritten, used for resetting
    --get-default-color-0: #296ec3;
    --get-default-color-1: #333;
    --get-default-color-2: #ff7f49;
    --get-default-color-3: #5ac7be;
    --get-default-color-4: #229dc6;
    --get-default-color-5: #d85555;
    --get-default-color-6: #6d9953; // $comp_green
    --get-default-color-7: #b0b0b0; // $sec_gray 
    --get-default-color-8: #e1e1e1; // $sec_light_gray
    --get-default-color-9: #f0f0f0; // $sec_lightest_gray
    --get-default-color-10: #ebf4ff; // $sec_light_blue


    --monochrome-color-0: #0A4242;
    --monochrome-color-1: #175C5C;
    --monochrome-color-2: #297676;
    --monochrome-color-3: #408F8F;
    --monochrome-color-4: #5DA8A8;
    --monochrome-color-5: #7EC2C2;

    --get-monochrome-color-0: #0A4242;
    --get-monochrome-color-1: #175C5C;
    --get-monochrome-color-2: #297676;
    --get-monochrome-color-3: #408F8F;
    --get-monochrome-color-4: #5DA8A8;
    --get-monochrome-color-5: #7EC2C2;


}

figure.griffin {
    margin: 1em 0;


    .griffin-pending {
        background-color: #f0f0f0;

        table {
            display: none;
        }
    }

    figcaption span {
        display: block;
    }

    figcaption span.figure-hed {
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 1.3;
    }

    figcaption span.figure-label {
        font-size: 1rem;
    }

    figcaption span.figure-dek {
        opacity: .9;
        font-weight: 400;
        font-size: 1.5rem;
        white-space: normal !important;
    }

    table caption {
        margin-top: 1rem;
    }


    .griffin-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        max-width: 990px;
        /* TO DO: ALLOW OVERWRITE IN JAVASCRIPT */
        ;

        >figure {
            width: 100%;
            margin: 0;
        }
    }

    /* NOTES AND SOURCES */

    .figure-note,
    .rich-text .figure-note {
        font-size: 0.8em;
    }

    .figure-note--source {
        color: #767676;
    }

    /* FIGURE HEDS AND DEKS */

    figcaption:first-of-type {
        @media screen and (max-width: 29.375em) {
            font-size: 1.25rem;
        }
    }

    figcaption:first-of-type span,
    figure.griffin .highcharts-title {
        @media screen and (max-width: 29.375em) {
            font-size: 1rem;
        }

    }
}

.highcharts-container.griffin {
    &.for-print {

        text.highcharts-data-label,
        .highcharts-data-label text {
            font-family: 'Whitney';
        }

        .highcharts-legend text {
            font-weight: normal;
            fill: #666;
        }
        .highcharts-axis-labels {
            fill: #231f20;
        }
    }

    height: auto;
    font-family: 'lato';
    font-size: 13.3333px; // ie 10pt in print (72/96) * 13.333

    &.for-print {
        font-family: 'Whitney', Webdings;
        font-size: 15.99px; // ie 9pt in print
        font-weight: 300;
    }


    .highcharts-data-label-connector {
        fill: none !important;
    }

    .shareTooltip .highcharts-tooltip text {
        font-weight: bold;
        fill: #767676;
    }

    .shareTooltip .highcharts-tooltip .highcharts-strong {
        fill: #000;
    }

    /* chart specific */


    &.griffin-slope {
        .highcharts-grid-line {
            stroke-width: 0;
        }

        /*.highcharts-xaxis-labels text {
            display: none;
            &:first-child, &:last-child {
                display: block;
                font-weight: bold;
            }
        }*/
        .highcharts-axis-line,
        .highcharts-tick {
            display: none;
        }

        .highcharts-xaxis-labels {
            font-weight: bold;
            font-size: 1em;
            fill: #000;
        }

        text.highcharts-data-label,
        .highcharts-data-label text {
            fill: $dark_gray;
            font-weight: normal;

        }

        .highcharts-data-label:first-child text {
            text-anchor: end;
            transform: translateX(-16px);
        }

        .highcharts-point {
            fill: #fff !important;
            stroke-width: 2px;
        }

    }

    &.griffin-line,
    &.griffin-area {
        .highcharts-data-label {
            @media screen {
                visibility: hidden;
            }
        }


        .highcharts-data-label:last-child {
            visibility: visible;
            opacity: 1;

        }

        @media screen and (max-width: 510px) {

            .highcharts-markers,
            .highcharts-legend-item .highcharts-point {
                display: none;
            }
        }
    }

    &.griffin-area {
        @media screen and (max-width: 510px) {
            .highcharts-legend-item .highcharts-point {
                display: inline;
            }
        }
    }

    /* highcharts overrides */

    .highcharts-tracker-line {
        display: none;

        @media screen {
            display: block;
        }
    }

    .highcharts-graph {
        stroke-width: 4px;
    }

    /* &.for-print {
        .highcharts-graph {
            stroke-width: 3px;
        }
    }*/
    .highcharts-axis-labels {
        font-size: 1em;
    }

    /* default palette */

    .highcharts-color-0,
    .highcharts-data-label-color-0 text,
    .highcharts-series-label-color-0 text {
        fill: $pew_blue;
        stroke: $pew_blue;
        background-color: $pew_blue;
        fill: var(--default-color-0, $pew_blue);
        stroke: var(--default-color-0, $pew_blue);
        background-color: var(--default-color-0, $pew_blue);
    }

    .highcharts-color-1,
    .highcharts-data-label-color-1 text,
    .highcharts-series-label-color-1 text {
        fill: $dark_gray;
        stroke: $dark_gray;
        background-color: $dark_gray;
        fill: var(--default-color-1, $dark_gray);
        stroke: var(--default-color-1, $dark_gray);
        background-color: var(--default-color-1, $dark_gray);
    }

    .highcharts-color-2,
    .highcharts-data-label-color-2 text,
    .highcharts-series-label-color-2 text {
        fill: $comp_orange;
        stroke: $comp_orange;
        background-color: $comp_orange;
        fill: var(--default-color-2, $comp_orange);
        stroke: var(--default-color-2, $comp_orange);
        background-color: var(--default-color-2, $comp_orange);
    }

    .highcharts-color-3,
    .highcharts-data-label-color-3 text,
    .highcharts-series-label-color-3 text {
        fill: $comp_teal;
        stroke: $comp_teal;
        background-color: $comp_teal;
        fill: var(--default-color-3, $comp_teal);
        stroke: var(--default-color-3, $comp_teal);
        background-color: var(--default-color-3, $comp_teal);
    }

    .highcharts-color-4,
    .highcharts-data-label-color-4 text,
    .highcharts-series-label-color-4 text {
        fill: $comp_blue;
        stroke: $comp_blue;
        background-color: $comp_blue;
        fill: var(--default-color-4, $comp_blue);
        stroke: var(--default-color-4, $comp_blue);
        background-color: var(--default-color-4, $comp_blue);
    }

    .highcharts-color-5,
    .highcharts-data-label-color-5 text,
    .highcharts-series-label-color-5 text {
        fill: $comp_red;
        stroke: $comp_red;
        background-color: $comp_red;
        fill: var(--default-color-5, $comp_red);
        stroke: var(--default-color-5, $comp_red);
        background-color: var(--default-color-5, $comp_red);
    }

    .highcharts-color-6,
    .highcharts-data-label-color-6 text,
    .highcharts-series-label-color-6 text {
        fill: $comp_green;
        stroke: $comp_green;
        background-color: $comp_green;
        fill: var(--default-color-6, $comp_green);
        stroke: var(--default-color-6, $comp_green);
        background-color: var(--default-color-6, $comp_green);
    }

    .highcharts-color-7,
    .highcharts-data-label-color-7 text,
    .highcharts-series-label-color-7 text {
        fill: $sec_gray;
        stroke: $sec_gray;
        background-color: $sec_gray;
        fill: var(--default-color-7, $sec_gray);
        stroke: var(--default-color-7, $sec_gray);
        background-color: var(--default-color-7, $sec_gray);
    }

    .highcharts-color-8,
    .highcharts-data-label-color-8 text,
    .highcharts-series-label-color-8 text {
        fill: $sec_light_gray;
        stroke: $sec_light_gray;
        background-color: $sec_light_gray;
        fill: var(--default-color-8, $sec_light_gray);
        stroke: var(--default-color-8, $sec_light_gray);
        background-color: var(--default-color-8, $sec_light_gray);
    }

    .highcharts-color-9,
    .highcharts-data-label-color-9 text,
    .highcharts-series-label-color-9 text {
        fill: $sec_lightest_gray;
        stroke: $sec_lightest_gray;
        background-color: $sec_lightest_gray;
        fill: var(--default-color-9, $sec_lightest_gray);
        stroke: var(--default-color-9, $sec_lightest_gray);
        background-color: var(--default-color-9, $sec_lightest_gray);
    }

    .highcharts-color-10,
    .highcharts-data-label-color-10 text,
    .highcharts-series-label-color-10 text {
        fill: $sec_light_blue;
        stroke: $sec_light_blue;
        background-color: $sec_light_blue;
        fill: var(--default-color-10, $sec_light_blue);
        stroke: var(--default-color-10, $sec_light_blue);
        background-color: var(--default-color-10, $sec_light_blue);
    }


    &.monochrome {

        .highcharts-color-0,
        .highcharts-data-label-color-0 text,
        .highcharts-series-label-color-0 text {
            //fill:#084744;
            //stroke:#084744;
            //background-color: #084744;
            fill: var(--monochrome-color-0);
            stroke: var(--monochrome-color-0);
            background-color: var(--monochrome-color-0);
        }

        .highcharts-color-1,
        .highcharts-data-label-color-1 text,
        .highcharts-series-label-color-1 text {
            fill: var(--monochrome-color-1);
            stroke: var(--monochrome-color-1);
            background-color: var(--monochrome-color-1);
        }

        .highcharts-color-2,
        .highcharts-data-label-color-2 text,
        .highcharts-series-label-color-2 text {
            fill: var(--monochrome-color-2);
            stroke: var(--monochrome-color-2);
            background-color: var(--monochrome-color-2);
        }

        .highcharts-color-3,
        .highcharts-data-label-color-3 text,
        .highcharts-series-label-color-3 text {
            fill: var(--monochrome-color-3);
            stroke: var(--monochrome-color-3);
            background-color: var(--monochrome-color-3);
        }

        .highcharts-color-4,
        .highcharts-data-label-color-4 text,
        .highcharts-series-label-color-4 text {
            fill: var(--monochrome-color-4);
            stroke: var(--monochrome-color-4);
            background-color: var(--monochrome-color-4);
        }

        .highcharts-color-5,
        .highcharts-data-label-color-5 text,
        .highcharts-series-label-color-5 text {
            fill: var(--monochrome-color-5);
            stroke: var(--monochrome-color-5);
            background-color: var(--monochrome-color-5);
        }
    }

    text {
        stroke: none;
    }

    /* data labels */

    &.griffin-donut .highcharts-data-label text {
        font-size: 18px;
        font-weight: bold;

        @media (max-width: 475px) {
            font-size: 14px;
        }
    }

    &.invertDataLabels .highcharts-data-label text,
    .invertDataLabels text.highcharts-data-label {
        fill: #fff;
    }




    .highcharts-legend-item text {
        transform: translate(0, -1px);
    }

    .highcharts-credits {
        font-size: 1em;
        fill: #666;
        cursor: default;

        &:hover {
            font-size: 10.5px;
            fill: #666;
        }
    }

    .highcharts-annotation-label text {
        fill: #000;
    }

    .highcharts-plot-line {
        stroke-dasharray: 6;
        stroke: $pew_blue;
    }

    span.highcharts-plot-line-label {
        width: 265px;
        white-space: normal !important;
        color: $pew_blue;
    }

    .observer-anchor {
        position: absolute;
        top: 50%;
    }

    /* tooltips */
    .highcharts-tooltip {
        filter: none;
        text {
            transform: translateY(-2px);
        }
        .highcharts-header {
            font-size: .75em;
            fill: #767676;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }
    }
    .highcharts-tooltip-box {
        fill: #fff;
        fill-opacity: 1;
        stroke-width: 2.5px;
        stroke-linecap: round;
    }

}