@import './vendor/highcharts6_1.css';

figure.griffin {
    margin: 1em 0;


    .griffin-pending {
        background-color: #f0f0f0;
        table {
            display: none;
        }
    }
    figcaption span {
        display: block;
    }
    figcaption span.figure-hed {
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 1.3;
    }
    figcaption span.figure-label {
        font-size: 1rem;
    }
    figcaption span.figure-dek {
        opacity: .9;
        font-weight: 400;
        font-size: 1.5rem;
        white-space: normal !important;
    }
    table caption {
        margin-top: 1rem;
    }


    .griffin-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        max-width: 990px; /* TO DO: ALLOW OVERWRITE IN JAVASCRIPT */;
        > figure {
            width: 100%;
            margin: 0;
        }
    }
    /* NOTES AND SOURCES */

        .figure-note, .rich-text .figure-note {
            font-size: 0.8em;
        }
        .figure-note--source {
            color: #767676;
        }
    /* FIGURE HEDS AND DEKS */

        figcaption:first-of-type {
            @media screen and (max-width: 29.375em){
                font-size: 1.25rem;
            }
        }
        figcaption:first-of-type span, figure.griffin .highcharts-title {
            @media screen and (max-width: 29.375em){
                font-size: 1rem;
            }

        }
}

.highcharts-container.griffin {

        height: auto;
        font-family: lato;
        font-size: 13.3333px; // ie 10pt in print (72/96) * 13.333
        &.for-print {
            font-size: 15.99px; // ie 9pt in print
        }


    .highcharts-data-label-connector {
        fill: none !important;
    }
    .shareTooltip .highcharts-tooltip text {
        font-weight: bold;
        fill: #767676;
    }
    .shareTooltip .highcharts-tooltip .highcharts-strong  {
        fill: #000;
    }

    /* chart specific */

    &.griffin-slope {
        .highcharts-grid-line {
            stroke-width: 0;
        }
        /*.highcharts-xaxis-labels text {
            display: none;
            &:first-child, &:last-child {
                display: block;
                font-weight: bold;
            }
        }*/
        .highcharts-axis-line, .highcharts-tick {
            display:none;
        }
        .highcharts-xaxis-labels {
            font-weight: bold;
            font-size: 1em;
            fill: #000;
        }
        text.highcharts-data-label, .highcharts-data-label text {
            fill: #333;
            font-weight:normal;
        }
        .highcharts-data-label:first-child text {
            text-anchor: end;
            transform: translateX(-16px);
        }
        .highcharts-point {
            fill: #fff !important;
            stroke-width: 2px;
        }
       
    }

    &.griffin-line, &.griffin-area {
         .highcharts-data-label {
            @media screen {
                visibility: hidden;
            }
         }

         
         .highcharts-data-label:last-child {
            visibility: visible;
            opacity: 1;
            
         }
        @media screen and (max-width: 510px){
            .highcharts-markers, .highcharts-legend-item .highcharts-point {
                display: none;
            }
         }
    }
    &.griffin-area {
         @media screen and (max-width: 510px){
            .highcharts-legend-item .highcharts-point {
                display: inline;
            }
         }
    }

    /* highcharts overrides */

    .highcharts-tracker-line {
        display: none;
        @media screen {
            display: block;
        }
    }

    .highcharts-graph {
        stroke-width: 4px;
    }
   /* &.for-print {
        .highcharts-graph {
            stroke-width: 3px;
        }
    }*/
    .highcharts-axis-labels {
        font-size: 1em;
    }

    /* default palette */

    .highcharts-color-0, .highcharts-data-label-color-0 text, .highcharts-series-label-color-0 text {
        fill:#296EC3;
        stroke:#296EC3;
    }
    .highcharts-color-1, .highcharts-data-label-color-1 text, .highcharts-series-label-color-1 text {
        fill:#444;
        stroke:#444;
    }
    .highcharts-color-4, .highcharts-data-label-color-4 text, .highcharts-series-label-color-4 text {
        fill:#229DC6;
        stroke:#229DC6;
    }
    .highcharts-color-3, .highcharts-data-label-color-3 text, .highcharts-series-label-color-3 text {
        fill:#5AC7BE;
        stroke:#5AC7BE;
    }
    .highcharts-color-2, .highcharts-data-label-color-2 text, .highcharts-series-label-color-2 text {
        fill:#ff7f49;
        stroke:#ff7f49;
    }
    .highcharts-color-5, .highcharts-data-label-color-5 text, .highcharts-series-label-color-5 text {
        fill:#d55555;
        stroke:#d55555;
    }



    /* teal palette */
    &.paletteTeal {
        .highcharts-color-0, .highcharts-data-label-color-0, .highcharts-series-label-color-0 text {
            fill:#297676;
            stroke:#297676;
        }
        .highcharts-color-1, .highcharts-data-label-color-1, .highcharts-series-label-color-1 text {
            fill:#B9B082;
            stroke:#B9B082;
        }
        .highcharts-color-2, .highcharts-data-label-color-2, .highcharts-series-label-color-2 text {
            fill:#9ABEBE;
            stroke:#9ABEBE;
        }
        .highcharts-color-3, .highcharts-data-label-color-3, .highcharts-series-label-color-3 text {
            fill:#D0CBB5;
            stroke:#D0CBB5;
        }
        .highcharts-color-4, .highcharts-data-label-color-4, .highcharts-series-label-color-4 text {
            fill:#B4CFCD;
            stroke:#B4CFCD;
        }
        .highcharts-color-5, .highcharts-data-label-color-5, .highcharts-series-label-color-5 text {
            fill:#E9E6D7;
            stroke:#E9E6D7;
        }
    }


    &.paletteMonoTeal{
         .highcharts-color-0,  .highcharts-data-label-color-0,  .highcharts-series-label-color-0 text {
            fill:#084744;
            stroke:#084744;
        }
         .highcharts-color-1,  .highcharts-data-label-color-1,  .highcharts-series-label-color-1 text {
            fill:desaturate(lighten(#084744, 10%), 10%);
            stroke:desaturate(lighten(#084744, 10%), 10%);
        }
         .highcharts-color-2,  .highcharts-data-label-color-2,  .highcharts-series-label-color-2 text {
            fill:desaturate(lighten(#084744, 20%), 20%);
            stroke:desaturate(lighten(#084744, 20%), 20%);
        }
         .highcharts-color-3,  .highcharts-data-label-color-3,  .highcharts-series-label-color-3 text {
            fill:desaturate(lighten(#084744, 30%), 30%);
            stroke:desaturate(lighten(#084744, 30%), 30%);  
        }
         .highcharts-color-4,  .highcharts-data-label-color-4,  .highcharts-series-label-color-4 text {
            fill:desaturate(lighten(#084744, 40%), 40%);
            stroke:desaturate(lighten(#084744, 40%), 40%);
        }
         .highcharts-color-5,  .highcharts-data-label-color-5,  .highcharts-series-label-color-5 text {
            fill:desaturate(lighten(#084744, 50%), 50%);
            stroke:desaturate(lighten(#084744, 50%), 50%);
        }
    }

    text {
        stroke: none;
    }
    /* data labels */

    &.griffin-donut .highcharts-data-label text {
        font-size:18px;
        font-weight: bold;
        @media (max-width: 475px){
            font-size: 14px;
        }
    }

    &.invertDataLabels .highcharts-data-label text, .invertDataLabels text.highcharts-data-label {
        fill: #fff;
    }


    
    
    .highcharts-legend-item text {
        transform: translate(0,-1px);
    }
    .highcharts-credits {
       font-size: 1em;
       fill: #666;
       cursor: default;
       &:hover {
        font-size: 10.5px;
        fill: #666;
       }
    }

    .highcharts-annotation-label text {
        fill: #000;
    }

    .highcharts-plot-line {
        stroke-dasharray: 6;
        stroke: #296EC3;
    }

    span.highcharts-plot-line-label {
        width: 265px;
        white-space: normal !important;
        color: #296EC3;
    }
    .observer-anchor {
        position: absolute;
        top: 50%;
    }
    
} 