$pew_blue: #296ec3;
$dark_gray: #333;
$comp_blue: #229dc6;
$comp_teal: #5ac7be;
$comp_green: #6d9953;
$comp_orange: #ff7f49;
$comp_red: #d85555;
$sec_gray: #b0b0b0;
$sec_light_gray: #e1e1e1;
$sec_lightest_gray: #f0f0f0;
$sec_light_blue: #ebf4ff;